<!-- movie_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .movie-info {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Movie Details</h1>
    {% for movieid, details in movies.items() %}
        <h2>{{ details.title }} ({{ details.genre }}) ({{details.avg_rating}})</h2>
<!--            {% if details.avg_rating %}-->
<!--                {% for s in range(details.avg_rating) %}-->
<!--                   <i class="fa fa-star" />-->
<!--                {% endfor %}-->
<!--            {% endif %}-->
        <ul>
            {% for rating in details.ratings %}
                <li>
                    {{ rating.userid }} - {{ rating.username }} - {{ rating.timestamp }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
